._*
.DS_Store

*.aux
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

data/raw/231447-V1.zip
data/song_mls_estimator/231447-V1/data/georef-county-subdivision.csv
data/song_mls_estimator/231447-V1/data/map/cb_2019_us_bg_500k/cb_2019_us_bg_500k.shp
